.emailList {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
}

.emailList-settingsLeft {
  display: flex;
}

.emailList-settingsRight {
  display: flex;
}

.emailList-settings {
  display: flex;
  width: auto;
  justify-content: space-between;
}

/* Mail body subject */
.emailList-sections {
  overflow: scroll;
  padding-right: 5px;
}

.mailSubject {
  display: flex;
  justify-content: space-between;
}

.mail-bodySubject {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.mail-bodySubject h2 {
  display: inline;
  font-weight: 400;
}
.mail-bodySubject--label {
  font-size: 12px;
  background-color: #c8cdce;
  padding: 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.mail-bodySubject--actions {
  display: flex;
  padding-right: 5px;
}

/*User Details*/
.mail-bodyUser {
  display: flex;
}
.mail-bodyUser--details {
  display: flex;
  flex-direction: column;
}
.userDetails {
  display: flex;
}

.userDetailsActions {
  display: flex;
}
