.mail {
  flex-grow: 1;
  background-color: #fff;
  margin: 10px;
  border-radius: 15px;
}
.mail-tools {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 15px;
}

.mail-toolsLeft {
  display: flex;
  gap: 10px;
}
.mailSubject {
  margin-bottom: 15px;
}

.userImg img {
  width: 50px;
}

.userDetailsInfo {
  display: flex;
}

.mail-bodyUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail-bodyUser--actions {
  display: flex;
  gap: 5px;
  align-items: center;
}

.mail-bodyContent {
  padding: 10px 50px;
}
