.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 10px;
  cursor: pointer;
  color: #5e5e5e;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 200px;
}

.sidebarOption h3 {
  flex: 1;
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
}

.sidebarOption:hover {
  background-color: #eaf1fb;
}

.sidebarOption.sidebarOption--active,
.sidebarOption.sidebarOption--active h3 {
  background-color: #d3e3fd;
  font-weight: bold;
  color: #001d35;
}
